
$cf-blue-from-image: #061431;
$cf-blue-dark: #142e4b;
$cf-blue-darkest: rgb(8, 32, 56);
/*$cf-blue-default: rgb(10, 37, 64);*/
$cf-blue-default: $cf-blue-from-image;
$cf-gray: rgb(84, 102, 121);
$cf-teal: rgb(25, 169, 155);
$cf-blue-font: rgb(13, 47, 82);
$cf-mint-light: rgb(203, 253, 253);
$cf-mint: #5f8898;
$bl-gray: #f0f0f0;

/* ==========================================================================
Color variables
========================================================================== */

$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$primary: $cf-teal;
$secondary: $cf-teal;
$accent: #00efb7;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;
