/* ==========================================================================
Fresh Footer
========================================================================== */

footer.footer-dark {
    background: $cf-blue-default;
    color: $white;
    .footer-logo {
        img {
            height: 40px;
            max-width: 128px;
        }
    }
    .footer-column {
        .footer-header h3 {
            font-weight:500;
            font-size: 1.2rem;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        ul.link-list {
            line-height: 1.5;
            font-size: .9rem;
            a {
                color: $light-blue-grey;
                font-weight: 400;
                transition: all 0.5s;
            }
            :hover {
                color: $smoke-white;
            }
        }
        .level-item .icon {
            color: $cf-mint;
            transition: all 0.5s;
            :hover {
                color: $smoke-white;
            }
        }
    }
}

footer.footer .columns {
    margin-top: 0;
}
