/* ==========================================================================
Hero styles
========================================================================== */

body {
    font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.title {
    color: $cf-blue-font;
}

.hero-body {
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    .title, .subtitle {
        font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    }
    .title {
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        font-size: 18px;
        font-weight: 700;
        &.is-muted {
            color: $white;
        }
        line-height: 1.725;
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
    .tabs ul,
    .tabs a {
        border-bottom: 0 none;
    }
}

.hero .title {
    /* https://www.cssportal.com/css-text-gradient-generator/ */
    background: #55E5C7;
    background: -webkit-linear-gradient(to right, #55E5C7 0%, #30DAFF 100%);
    background: -moz-linear-gradient(to right, #55E5C7 0%, #30DAFF 100%);
    background: linear-gradient(to right, #55E5C7 0%, #30DAFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

