/* ==========================================================================
Section Styles
========================================================================== */

//Sections
.section {
    &.section-light-grey {
        background-color: $light-grey;
    }
    &.section-feature-grey {
        background-color: $section-grey;
    }
    &.section-bl-gray {
        background-color: #eeeeee;
    }
    &.section-secondary {
        background-color: $secondary;
    }
    &.section-half {
        height: 75vh !important;
    }
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.section-blue-default {
    background-color: $cf-blue-default;
}

.section-blue-default .title {
    color: $white;
}

//Titles
.title-wrapper {
    max-width: 960px;
    margin: 0 auto;
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

//Descriptions
.description {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}

//Divider
.divider {
    height: 3px;
    border-radius: 50px;
    background: $secondary;
    width: 60px;
    &.is-centered {
        margin: 0 auto;
    }
}

//Wrapper
.content-wrapper {
    padding: 40px 0 30px 0;
}


//Pulled image
img.pushed-image {
    margin-top: -5vh;
}

//Icon box
.media.icon-box {
    border-top: none !important;
    .media-content .content p {
        span {
            display: block;
        }
        .icon-box-title {
            color: $cf-blue-font;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .icon-box-text {
            color: $cf-gray;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.725
        }
    }
}