{{- $hero        := .Site.Params.hero }}
{{- $clientLogos := index $hero "clientlogos" }}
<div class="hero-foot">
  <div class="container">
    <div class="has-text-centered">
      <h2 class="title is-4">Trusted by</h2>
    </div>
    <div class="tabs is-centered">
      <ul>
        {{- range $clientLogos }}
        <li>
          <a href="#" title="Link to case study">
            <img loading="lazy" class="partner-logo" src="{{ printf "/images/logos/clients/%s.svg" . | relURL }}" alt="Partner logo">
          </a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
</div>