{{- $hero       := .Site.Params.hero }}
{{- $titleintro      := index $hero "titleintro" }}
{{- $titlemain      := index $hero "titlemain" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $titleintro | markdownify }}
        </h1>
        <h2 class="title is-1 is-bold is-spaced">
          {{ $titlemain | markdownify }}
        </h2>
        {{ with $subtitle | markdownify }}
        <h3 class="subtitle is-5 is-muted">
          {{ . }}
        </h3>
        {{ end }}
        <p>
          {{ if $buttonText }}
            <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
              {{ $buttonText | markdownify }}
            </a>
          {{ end }}
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-hidden-mobile">
          <img loading="lazy" src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
  </div>
</div>