{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium section-bl-gray">
  <div class="container">
    <div class="is-centered-tablet-portrait">
      <h1 class="title section-title">{{ $title }}</h1>
      <h2 class="subtitle is-5 is-muted">{{ $subtitle }}</h2>
    </div>
    <div class="is-7">
      {{- range $features }}
      <article class="media icon-box">
        <figure class="media-left">
          <p class="image">
            <img loading="lazy" src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}" aria-label="Icon that aligns with this section">
          </p>
        </figure>
        <div class="media-content mt-50">
          <div class="content">
            <p>
              <span class="icon-box-title">{{ .title }}</span>

              <span class="icon-box-text">{{ .text | markdownify }}</span>
            </p>
          </div>
        </div>
      </article>
      {{- end }}
    </div>
  </div>
</section>