{{- $section3     := .Site.Params.section3 }}
{{- $title        := index $section3 "title" }}
{{- $subtitle     := index $section3 "subtitle" }}
{{- $description  := index $section3 "description" }}
{{- $image        := index $section3 "image" }}
{{- $buttonText   := index $section3 "buttontext" }}
{{- $buttonLink   := index $section3 "buttonlink" }}
{{- $codesample   := index $section3 "codesample"}}
<section class="section section-feature-grey is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-left">
          {{ $codesample | markdownify }}
        </div>
      </div>
    </div>

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title | markdownify }}</h2>
      <h3 class="subtitle is-5">{{ $subtitle | markdownify }}</h3>
      <p class="description">{{ $description | markdownify }}</p>
    </div>

    <p class="has-text-centered mt-20">
      <a class="button cta is-large rounded secondary-btn raised" href="{{ $buttonLink }}">
        {{ $buttonText }}
      </a>
    </p>
  </div>
</section>