{{- $section5 := .Site.Params.section5 }}
{{- $title    := index $section5 "title" }}
{{- $subtitle := index $section5 "subtitle" }}

<section class="section is-small">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-spaced">{{ $subtitle }}</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/shell.js"></script>
          <script>
            hbspt.forms.create({
            region: "na1",
            portalId: "20103424",
            formId: "91579d69-936e-4b8c-a692-635e854fb01b"
          });
          </script>
        </div>
      </div>
    </div>
  </div>
</section>